@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
    --primary: #673AB7;
    --light-primary: #7E57C2;
    --dark-primary: #512DA8;
    --purple: #9C27B0;
    --light-purple: #CE93D8;
    --blue: #2196F3;
    --light-blue: #90CAF9;
    --light-red: #EF9A9A;
    --red: #F44336;
    --light-green: #A5D6A7;
    --green: #4CAF50;
    --pink: #E91E63;
    --black: #212121;
    --white: #F5F5F5;
    --light-grey: #BDBDBD;
    --dark-grey: #424242;
}

a{
    text-decoration: none;
    color: var(--light-grey);
    transition: 0.3s;
}

a:hover{
    color: var(--white);
}

li{
    list-style-type: none;
}

*{
  box-sizing: border-box;
  margin: 0; padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background: var(--light-grey);
  max-width: 100vw;
  overflow-x: hidden;

}

.alert-container{
    transform: translate(0, -60px);
}

.alert-container.active{
    transform: translate(0, 0px);
}

.alert{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
    
    background: var(--green);
    color: var(--white);
}

.alert button.alert-close{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1;
    color: var(--light-green);
    transition: color 0.3s;

    cursor: pointer;
}


.alert button.alert-close:hover{
    color: var(--white);
}

.alert.error{
    background: var(--red);
}

.alert.error button.alert-close{
    color: var(--light-red);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    margin-bottom: 40px;
}

header h1{
    font-size: 1.5rem;
    position: relative;
    color: var(--white);
}

.navbar-item{
    display: flex;
    color: var(--white);
}

.navbar-item img{
    background-color: var(--primary);
    border-radius: 50%;
    margin-top: -4px;
    margin-right: 10px;
}

.responsive-title{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--white);
    display: none;
}


.Section{
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(45deg, var(--blue), var(--pink));
}

.Section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.05);
    clip-path: circle(60% at right 70%);
}

.Section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.1);
    clip-path: circle(60% at 0% 0%);
}


.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}


.box{
    z-index: 3;
    min-width: 600px;
    min-height: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    box-shadow: 
        5px 5px 20px rgba(0, 0, 0, 0.2),
        20px 20px 50px rgba(0, 0, 0, 0.1)
    ;
}

.form-title{
    font-size: 2rem;
    color: var(--white);
}

.form-item{
    margin: 20px 0;
    display: flex;
    width: 100%;
    min-width: 100%;
}

.form-item-text{
    width: 100%;
    margin: 10px 0;
    color: var(--light-grey);
}

.form-item-text.right{

    text-align: right;
}

.form-swap{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.form-input{
    border: none;
    outline: none;
    padding: 15px 20px;
    width: 100%;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        2px 2px 5px rgba(0, 0, 0, 0.05),
        5px 10px 10px rgba(0, 0, 0, 0.01)
    ;
}

.form-select-container{
    position: relative;
    display: flex;
    height: 3em;
    line-height: 3;
    background: var(--primary);
    overflow: hidden;
    border-radius: .25em;
    width: 150px;
    margin-left: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 
        2px 2px 5px rgba(0, 0, 0, 0.05),
        5px 10px 10px rgba(0, 0, 0, 0.01)
    ;
}

.form-select-container::after{
    content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: var(--dark-primary);
   color: var(--light-grey);
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}

.form-select-container:hover::after{
    color: var(--white);
}

select.form-select{
    appearance:none;
    border-radius: 20px;
    padding: 15px 20px;
    border:0!important;
    outline:0;
    background: none;
    color: var(--white);

    flex: 1;
    cursor: pointer;
}

select.form-select::-ms-expand {
    display: none;
    color: black
}

select.form-select option{
    background: var(--primary);
    outline: 0;
    border: none;
}
button.button{
    position: relative;
    overflow: hidden;
    padding: 10px 30px;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 50px;
    color: var(--white);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: transparent;
    box-shadow: 
        -10px -10px 15px rgba(255, 255, 255, 0.1),
        2px 2px 5px rgba(0, 0, 0, 0.1),
        5px 10px 10px rgba(0, 0, 0, 0.05)
    ;

    cursor: pointer;
    transition: 0.3s;
}

button.button::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

button.button:hover{
    box-shadow: 
        -10px -10px 15px rgba(255, 255, 255, 0.07),
        2px 2px 5px rgba(0, 0, 0, 0.07),
        5px 10px 10px rgba(0, 0, 0, 0.025)
    ;
    color: rgba(255, 255, 255, 0.8);
}



button.button:hover:after{
    box-shadow: 
    inset -10px -10px 15px rgba(255, 255, 255, 0.05),
    inset 2px 2px 5px rgba(0, 0, 0, 0.05),
    inset 5px 10px 10px rgba(0, 0, 0, 0.02)
    ;
}

button.button-form{
    width: 100%;
}

button.button-navbar{
    font-weight: 500;

}

button.button:disabled{
    box-shadow: 
        -10px -10px 15px rgba(255, 255, 255, 0.1),
        2px 2px 5px rgba(0, 0, 0, 0.1),
        5px 10px 10px rgba(0, 0, 0, 0.05)
    ;
}

button.button:disabled:hover{
    cursor: default;
    color: var(--white);
    box-shadow: 
        -10px -10px 15px rgba(255, 255, 255, 0.1),
        2px 2px 5px rgba(0, 0, 0, 0.1),
        5px 10px 10px rgba(0, 0, 0, 0.05)
    ;
}

button.button:disabled:hover:after{
    box-shadow: none;
}

button.button-swap{
    border: none;
    outline: none;
    background: none;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    line-height: 46px;
    font-size: 1.5rem;
    color: var(--light-grey);
    cursor: pointer;
    box-shadow: 
        -10px -10px 15px rgba(255, 255, 255, 0.1),
        2px 2px 5px rgba(0, 0, 0, 0.1),
        5px 10px 10px rgba(0, 0, 0, 0.05)
    ;
}

button.button-swap:hover:after{
    box-shadow: 
    inset -10px -10px 15px rgba(255, 255, 255, 0.05),
    inset 2px 2px 5px rgba(0, 0, 0, 0.05),
    inset 5px 10px 10px rgba(0, 0, 0, 0.02)
    ;
}


footer{
 display: flex;
 justify-content: center;   
 color: var(--light-grey);
 margin-top: 40px;
}

.full-loader{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    background-color:  var(--dark-primary);

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .box {
      min-width: 0px;
      width: 80%;
    }
}

  
@media screen and (max-width: 624px) {
    .form-item{
      display: block;
    }

    .form-select-container{
        margin: 20px 0;
        width: 100%;
        border-radius: 50px;
    }

    .form-swap{
        justify-content: center;
    }
}

@media screen and (max-width: 540px) {
    header h1{
        display: none;
    }
    .responsive-title{
        display: block;
    }
}

@media screen and (max-width: 450px) {
    header h1{
        display: none;
    }
    .responsive-title{
        display: block;
    }
}
